## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
S = 5
print(S)

5

2) Imprimir el tipo de dato de la variable 8.5

In [2]:

print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(S))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
NOMBRE = "CARLOS"

5) Crear una constante que contenga el número Pi

In [6]:
PI =3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [7]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [8]:
EULER =  2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
VERDAD = True
enletra = "True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(EULER))

<class 'float'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [11]:
SUMA = 5+2.3

11) Realizar una operación de suma de un número definido como string con un entero

In [1]:
numero_1 = "5"
numero_2 = 2
numero_1 + numero_2

TypeError: can only concatenate str (not "int") to str

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [12]:
ALCUBO = PI**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [3]:
multi_1 = int(input("ingrese un numero"))
multi_2 = int(input("ingrese otro numero"))
print  (multi_1*multi_2)

6

In [4]:
 dividendo = 27
 divisor = 4
 print (dividendo/divisor)

6.75

15) De la división anterior solamente mostrar la parte entera

In [5]:
print(int(dividendo/divisor))

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [6]:
print(dividendo % divisor)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [8]:
operando = 4
resultado = operando * (dividendo/divisor)
print(resultado)

27.0

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [9]:
dos_1 = 2
dos_2 = "2"
print (dos_1 == dos_2)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [10]:
print (dos_1 == int(dos_2))

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [11]:
a = float('3,8')
print(a)
# los numeros estan dividos por una coma por lo que un float hay que diferenciar su parte entera de su parte decimal mediante un punto

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [13]:
dies_1 = 10
dies_2 = "10"
print (dies_1 + dies_2)
#porque los tipos de variables no son iguales, no daria siempre lo mismo depende de si las variables son numericas o tipo string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [16]:
MENU =['MENU:','1-Pizza','2-Empanadas' , '3-Milanesas', '4-Salir']
print(MENU)

['MENU:', '1-Pizza', '2-Empanadas', '3-Milanesas', '4-Salir']

23) Crear una lista que contenga los números del 1 al 10

In [13]:
lista =  [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [14]:
print(lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [15]:
lista[2] = "carlos"

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [25]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [18]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [21]:
matriz[1][1] = "Z"
print(matriz[1][1])
print(matriz)

Z
[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [26]:
matriz[0] = ['1','2','3']
print(matriz)

[['1', '2', '3'], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [27]:
marcas_ropa = ('puma','adidas','nike','zara', 'hermes')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [28]:
print(marcas_ropa[0])

puma

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [29]:
marcas_ropa[1] = 'otro adidas' 
#las duplas no se pueden modificar

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [30]:
diccionario = {'nombre':'Carlos','apellido':'Jungjohann','edad': 37,'hobbies':('leer','motos','anime') }

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [31]:
print(diccionario['hobbies'])

('leer', 'motos', 'anime')

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [32]:
diccionario['edad'] =  38
print(diccionario['edad'])

38